# Jest coverage
coverage/

# Default lib folder
lib/

# Default dist folder
dist/

# Default resources folder
src/resources

# Ignore app because of non-void-html-element-start-tag-with-trailing-solidus
src/modules/my/app/app.html